*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    background-color: rgb(0, 0, 0);
    overflow: hidden;
    font-family: 'SF Pro Display';
    color: white;
}
#top-bar{
    position: fixed;
    display: flex;
    justify-content:space-between;
    background: none;
    height: auto;
    width: 100%;
    padding: 0;
    pointer-events: none;
    z-index: 0;
    #control-bar{
        background-color: rgb(43, 43, 43);
        padding: 20px;
        margin: 20px;
        border-radius: 15px;
        opacity: 0.9;
        list-style-type: none;
        background-color: rgb(43, 43, 43);
        display: grid;
        grid-template-columns: repeat(3, auto);
        gap: 3em;
        pointer-events: all;
        li{
            font-size: 25px;
            label{
                user-select: none; /* supported by Chrome and Opera */
                -webkit-user-select: none; /* Safari */
                -khtml-user-select: none; /* Konqueror HTML */
                -moz-user-select: none; /* Firefox */
                -ms-user-select: none; /* Internet Explorer/Edge */
            }
            input{
                border-radius: 5px;
                border-style: none;
                padding: 5px;
                font-size: 25px;
                font-family: 'SF Pro Display';
                width: 60px;
                text-align: center;
                background-color: rgb(255, 255, 255);
            }
        }
        .control-gravity{
            display: none;
        }
    }
    #small-config-btn{
        background-color: rgb(43, 43, 43);
        padding: 15px;
        margin: 20px;
        border-radius: 15px;
        opacity: 0.9;
        pointer-events: all;
    }
    #small-config-btn:hover{
        background-color: rgb(66, 66, 66);
    }
    #small-config-btn:active{
        background-color: rgb(24, 24, 24);
    }
}

#cta-text{
    text-align: center;
    color: rgb(43, 43, 43);
    font-weight: bold;
    font-size: 100px;
    width: 1000px;
    position: absolute;
    left: 50%;
    margin-left: -500px;
    top: 50%;
    margin-top: -50px;
    pointer-events: none;
}
