.config-menu-background {
  display: none;
  background-color: black;
  opacity: 70%;
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: 1;
}

.config-menu {
  position: absolute;
  display: none;
  background-color: #2b2b2b;
  width: 30vw;
  padding: 45px 50px;
  border-radius: 15px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  opacity: 100%;
  z-index: 2;
}

.config-menu .top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: none;
  height: auto;
  width: 100%;
  padding: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.config-menu .top h2 {
  font-size: 35px;
  color: #ddd;
  user-select: none;
  /* supported by Chrome and Opera */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
}

.config-menu .top #config-exit:hover path {
  fill: white;
}

.config-menu .config-menu-btn {
  background-color: #4b4b4b;
  border: none;
  padding: 15px;
  border-radius: 15px;
  width: 100%;
  height: 60px;
  margin-top: 50px;
  text-align: center;
  text-decoration: none;
  color: #ddd;
  font-size: 25px;
  user-select: none;
  /* supported by Chrome and Opera */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
}

.config-menu-btn:hover {
  background-color: #5a5a5a;
  color: white;
}

.config-menu-btn:active {
  background-color: #3c3c3c;
  color: #bbb;
}

@-webkit-keyframes slideInFromLeft {
  0% {
    top: 50%;
    left: -50%;
  }
  100% {
    top: 50%;
    left: 50%;
  }
}

@keyframes slideInFromLeft {
  0% {
    top: 50%;
    left: -50%;
  }
  100% {
    top: 50%;
    left: 50%;
  }
}

@-webkit-keyframes slideOutFromLeft {
  0% {
    top: 50%;
    left: 50%;
  }
  100% {
    top: 50%;
    left: -50%;
  }
}

@keyframes slideOutFromLeft {
  0% {
    top: 50%;
    left: 50%;
  }
  100% {
    top: 50%;
    left: -50%;
  }
}

#audio-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2vw;
}

#audio-buttons #sound-btn {
  background-color: #4b4b4b;
  border: none;
  padding: 10px;
  border-radius: 15px;
  width: 100%;
  height: 60px;
  margin-top: 50px;
  text-align: center;
}

#audio-buttons #sound-btn .sound-icons {
  width: 40px;
  height: 35px;
}

#audio-buttons #sound-btn #sound-check {
  display: none;
}

#audio-buttons #sound-btn #sound-on {
  display: none;
}

#music-btn {
  background-color: #4b4b4b;
  border: none;
  padding: 10px;
  border-radius: 15px;
  width: 100%;
  height: 60px;
  margin-top: 50px;
  text-align: center;
}

#music-btn .music-icons {
  width: 40px;
  height: 35px;
}

#music-btn #music-check {
  display: none;
}

#music-btn #music-off {
  display: none;
}
/*# sourceMappingURL=config-menu-style.css.map */