*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    background-color: rgb(0, 0, 0);
    overflow: hidden;
    font-family: 'SF Pro Display';
    color: white;
}
#container{
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-60%);
    text-align: center;
    #title{
        font-family:'JunkDog';
        font-size: 300px;
    }

    .menu-btn{
        background-color: rgb(43, 43, 43);
        padding: 15px;
        margin-top: 50px;
        border-radius: 15px;
        text-align: center;
        color: white;
        font-size: 40px;
        width: 100%;
    }
    .menu-btn:hover{
        background-color: rgb(66, 66, 66);
    }
    .menu-btn:active{
        background-color: rgb(24, 24, 24);
    }

    #small-config-btn{
        background-color: rgb(43, 43, 43);
        padding: 15px;
        margin-top: 50px;
        border-radius: 15px;
        width: 11%;
    }
    #small-config-btn:hover{
        background-color: rgb(66, 66, 66);
    }
    #small-config-btn:active{
        background-color: rgb(24, 24, 24);
    }
}
