*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    background-color: rgb(0, 0, 0);
    overflow: hidden;
    font-family: 'SF Pro Display';
    color: white;
}
#container{
    animation: 0.5s ease-out 0s 1 appear;
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-60%);
    text-align: center;
    #title{
        font-family:'JunkDog';
        font-size: 300px;
        user-select: none; /* supported by Chrome and Opera */
        -webkit-user-select: none; /* Safari */
        -khtml-user-select: none; /* Konqueror HTML */
        -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
        .letter{
            transition: color 1s ease;
        }
    }

    .menu-btn{
        background-color: rgb(43, 43, 43);
        padding: 15px;
        margin-top: 50px;
        border-radius: 15px;
        border-style: none;
        text-align: center;
        color: white;
        font-size: 40px;
        width: 100%;
        user-select: none; /* supported by Chrome and Opera */
        -webkit-user-select: none; /* Safari */
        -khtml-user-select: none; /* Konqueror HTML */
        -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
    }
    .menu-btn:hover{
        background-color: rgb(66, 66, 66);
    }
    .menu-btn:active{
        background-color: rgb(24, 24, 24);
    }

    #small-config-btn{
        background-color: rgb(43, 43, 43);
        padding: 15px;
        margin-top: 50px;
        border-radius: 15px;
        border-style: none;
        width: 11%;
    }
    #small-config-btn:hover{
        background-color: rgb(66, 66, 66);
    }
    #small-config-btn:active{
        background-color: rgb(24, 24, 24);
    }
}
canvas{
    pointer-events: none;
}

@keyframes appear {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 100;
    }
}